source https://api.nuget.org/v3/index.json

storage:none
nuget Flux.Collections
nuget FSharp.Core
nuget Flux.Core
nuget FSharpPlus
nuget NodaTime
nuget Hopac
nuget System.IO.Pipelines
nuget Logary
nuget FSharp.Control.Reactive
nuget FsRandom